<%= form_for @book, class: 'form-control', :html => { :multipart => true } do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :author %>
  <%= f.text_field :author, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :add_cover %>
  <%= f.file_field :cover, title:"Add cover", class: 'form-control' %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
