<p id="notice"><%= notice %></p>

	<p>
  		<strong>Name:</strong>
  		<%= @book.name %>
	</p>

	<p>
  		<strong>Author:</strong>
  		<%= @book.author %>
	</p>
	<p>
	<%= image_tag @book.cover.url(:medium) %>

	<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-inverse" %> |
	<%= link_to 'Back', root_path, class: "btn btn-info" %>
</p>


	